
<div class="row">
    <div class="col-lg-6">
       {{lb_cbb_1}}
    </div>
    <div class="col-lg-6">
        <nb-select [(ngModel)]="selectedObject">
            <nb-option *ngFor="let i of resultArr" [ngValue]="i.id">{{i.email}}</nb-option>  
        </nb-select>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
       {{lb_cbb_2}}
    </div>
    <div class="col-lg-6">
        <nb-select [(ngModel)]="selectedObject">
            <nb-option *ngFor="let i of resultArr" [ngValue]="i.id">{{i.email}}</nb-option>  
        </nb-select>
    </div>
</div>